*.sh
node_modules
lib
*.html
*.md
*.woff
*.ttf
.vscode
.idea
/dist/
/public
/docs
.vscode
.local
/bin
/build
/config
Dockerfile
vue.config.js
commit-lint.js
postcss.config.js
stylelint.config.js
!.eslintrc.js
/mapComponents
/src/hooks/
/src/assets/
/src/common/
/src/mars3d